
.logindiv{

    border: 2px solid black;
    margin: auto;
    height: 50vh;
    width: 30vw;
    margin-top: calc(50vh - 25vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
     text-decoration: none;

}

.logheadign{

    /* border: 2px solid red; */
}

.logininputdiv{

    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.loginh2,#text_input{

    border: 2px solid rgb(128, 172, 62);
    width: 20vw;
    height: 5vh;
    margin: 1vh;
    font-size: 1.5vw;
    text-align: center;
}

.loginbutton {
    border: 2px solid rgb(128, 172, 62);
    width: 20vw;
    height: 5vh;
    font-size: 1vw;
    margin-top: 2vh;
    display: flex;              /* Make button a flex container */
    align-items: center;        /* Vertically center */
    justify-content: center;    /* Horizontally center */
    cursor: pointer;
    background-color: rgb(128, 172, 62);
    color: white;               /* optional: better contrast */
}


.account-link{

    /* border: 2px solid yellow; */
    margin-top: 2vh;
   text-decoration: none;
    list-style: none;
}

.account-link a{
    text-decoration: none;
    color: blue;
}















@media screen and (max-width:480px)
{
   .logindiv{

    width: 90vw;
    border-radius: 10px;
    margin-top: 20vh;
       height: fit-content;
       padding: 6vw 0;
   }

   .logheadign{
    font-size: 6vw;
   }

   .loginh2,#text_input{

    width: 80vw;
    font-size: 4vw;
    height: 15vw;
      border-radius: 5px;
   }
   

   .account-link a{

    font-size: 4vw;
   }
 
}




@media screen and (max-width:768px) and (min-width:481px)
{
   .logindiv{

    width: 50vw;
    border-radius: 10px;
    margin-top: 20vh;
       height: fit-content;
       padding: 4vw 0;
   }

   .logheadign{
    font-size: 4vw;
   }

   .loginh2,#text_input{

    width: 40vw;
    font-size: 2vw;
    height: 7vw;
      border-radius: 5px;
   }
   

   .account-link a{

    font-size: 2vw;
   }
 
}








@media screen and (max-width:1024px)  and (min-width:769px)
{
   .logindiv{

    width: 50vw;
    border-radius: 10px;
    margin-top: 15vh;
       height: fit-content;
       row-gap: 2vh;
       padding: 4vw 0;
   }

   .logheadign{
    font-size: 2.5vw;
    /* margin-top: 6vh; */
   }

   .loginh2,#text_input{

    width: 40vw;
    font-size: 2vw;
    height: 5vw;
      border-radius: 5px;
   }
   

   .account-link a{

    font-size: 2vw;
   }
 
}





@media screen and (max-width:1440px) and (min-width:1025px)
{
   .logindiv{

    width: 30vw;
    border-radius: 10px;
    margin-top: 15vh;
       height: fit-content;
       padding: 3vw 0;
   }

   .logheadign{
    font-size: 2vw;
   }

   .logininputdiv{


      row-gap: 2vh;
   }

   .loginh2,#text_input{

    width: 25vw;
    font-size: 1.2vw;
    height: 3vw;
      border-radius: 5px;
   }
   

   .account-link a{

    font-size: 1.2vw;
   }
 
}



@media screen and (max-width:2560px) and (min-width:1441px)
{
   .logindiv{

    width: 30vw;
    border-radius: 10px;
    margin-top: 15vh;
       height: fit-content;
         padding: 3vw 0;
   }

   .logheadign{
    font-size: 2.5vw;
   }

   .loginh2,#text_input{

    width: 25vw;
    font-size: 1.5vw;
    height: 3vw;
      border-radius: 5px;
   }
   

   .account-link a{

    font-size: 1.5vw;
   }
 
}




@media screen and (min-width:2561px) 
{
   .logindiv{

    width: 30vw;
    border-radius: 10px;
    margin-top: 15vh;
       height: fit-content;
       padding: 3vw 0;

   }

   .logheadign{
    font-size: 2.5vw;
   }

   .loginh2,#text_input{

    width: 25vw;
    font-size: 1.5vw;
    height: 3vw;
      border-radius: 5px;
   }
   

   .account-link a{

    font-size: 1.5vw;
   }
 
}