/* ===============================
   Base Sidebar Styles (Default)
================================= */

.sidebar {
  background-color: white;
  color: black;
  width: 250px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index:10;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 120px;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

.sidebar-link:hover {
  background-color: #007bff;
  color: white;
}

/* Logout Button */
#logout {
  margin-top: auto;
  font-size: 20px;
  background-color: transparent;
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

#logout:hover {
  background-color: #ff4d4d;
  color: white;
}



/* ====================================
    Mobile Portrait (≤ 480px)
==================================== */

@media (max-width: 480px) {
  .sidebar {
    width: 60vw;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  }

  .sidebar-link {
    font-size: 4vw;
  }

  #logout {
    font-size: 6vw;
    color: black;
  }
}



/* =====================================
   Mobile Landscape / Small Tablets
   (481px – 768px)
====================================== */

@media (min-width: 481px) and (max-width: 768px) {
  .sidebar {
    width: 50vw;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  }

  .sidebar-link {
    font-size: 2.5vw;
  }

  #logout {
    color: black;
    font-size: 3vw;
  }
}



/* =====================================
   
   (769px – 1024px)
====================================== */

@media (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    width: 25vw;
    background-color: #333;
    color: white;
  }

  .sidebar ul {
    margin-top: 15vh;
  }

  .sidebar-link {
    font-size: 1.6vw;
    color: white;
  }

  #logout {
    margin-top: 10vw;
  }
}



/* =====================================

   (1025px – 1440px)
====================================== */

@media (min-width: 1025px) and (max-width: 1440px) {
  .sidebar {
    width: 20vw;
    background-color: #333;
    color: white;
  }

  .sidebar-link {
    font-size: 1.4vw;
    color: white;
  }

  #logout {
    margin-top: 10vw;
  }
}



/* =====================================
   
   (1441px – 2560px+)
   
   ====================================== */

@media (min-width: 1441px) {
  .sidebar {
    width: 18vw;
    background-color: #333;
    color: white;
  }

  .sidebar-link {
    font-size: 1.2vw;
    color: white;
  }

  #logout {
    margin-top: 10vw;
    font-size: 2rem;
  }
}
