.signup-form {

    border: 2px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 5vw;
    padding: 2vw 0;
    row-gap: 1vw;
    border-radius: 20px;

}



.create-account {

    font-size: 2vw;
}

.form-input,
#name {

    width: 70%;
    height: 2vw;
    margin: 1vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    border-radius: 0.5vw;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    font-size: 1.2vw;
}

.signup-button {

    border: 2px solid rgb(128, 172, 62);
    width: 70%;
    height: 5vh;
    font-size: 1vw;
    margin-top: 2vh;
    display: flex;
    /* Make button a flex container */
    align-items: center;
    /* Vertically center */
    justify-content: center;
    /* Horizontally center */
    cursor: pointer;
    background-color: rgb(128, 172, 62);
    color: white;
    /* optional: better contrast */
}


.loading {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    

}









@media screen and (max-width:480px) {

    .signup-form {

        width: 90%;
        margin-top: 25vw;
        padding: 8vw 0;
        row-gap: 5vw;

    }

    .create-account {

        font-size: 5vw;
    }

    .form-input,
    #name {

        width: 90%;
        height: 13vw;
        font-size: 4.5vw;

    }

    .loading {

      
        font-size: 5vw;
    }



}




@media screen and (max-width:768px) and (min-width:481px) {

    .signup-form {

        width: 60%;
        margin-top: 15vw;
        padding: 4vw 0;
        row-gap: 2vw;

    }

    .create-account {

        font-size: 3vw;
        margin-bottom: 2vw;
    }

    .form-input,
    #name {

        width: 90%;
        height: 5vw;
        font-size: 2vw;

    }

    .loading {

        font-size: 3vw;
    }


}



@media screen and (max-width:1024px) and (min-width:769px) {

    .signup-form {

        width: 45%;
        margin-top: 10vw;
        padding: 2vw 0;
        row-gap: 2vw;

    }

    .create-account {

        font-size: 3vw;
        margin-bottom: 2vw;
    }

    .form-input,
    #name {

        width: 90%;
        height: 5vw;
        font-size: 2vw;

    }

    .loading {

        
        font-size: 2vw;
    }


}


@media screen and (max-width:1440px) and (min-width:1025px) {

    .signup-form {

        width: 30%;
        margin-top: 3vw;
        padding: 2vw 0;
        row-gap: 0vw;

    }

    .create-account {

        font-size: 2vw;
        margin-bottom: 2vw;
    }

    .form-input,
    #name {

        width: 90%;
        height: 3.5vw;
        font-size: 1.2vw;
        border: 1.5px solid green;

    }


    .loading {

        
        font-size: 1.5vw;
    }




}




@media screen and (max-width:2560px) and (min-width:1441px) {

    .signup-form {

        width: 35%;
        margin-top: 5vw;
        padding: 2vw 0;
        row-gap: 0vw;

    }

    .create-account {

        font-size: 2vw;
        margin-bottom: 2vw;
    }

    .form-input,
    #name {

        width: 90%;
        height: 3.5vw;
        font-size: 1.2vw;

    }



    .loading {

       
        font-size: 1vw;
    }


}



@media screen and (min-width:2561px) {

    .signup-form {

        width: 35%;
        margin-top: 5vw;
        padding: 2vw 0;
        row-gap: 0vw;

    }

    .create-account {

        font-size: 2vw;
        margin-bottom: 2vw;
    }

    .form-input,
    #name {

        width: 90%;
        height: 3.5vw;
        font-size: 1.2vw;

    }


    .loading {

       
        font-size: 1vw;
    }

}