
.transaction-form{

    width: 90vw;
    margin-top: 20vw;
    /* padding: 8vw 0; */
    row-gap: 4vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    padding-bottom: 2vw;

}

.transaction-form-heading{

  margin-top: 5vw;
}


.transaction-form>div{

  display: flex;
  flex-direction: column;
  row-gap: 1vw;
}


.transaction-form>div>label{

  font-size: 3vw;
}


.transaction-form>div>input, button{

   font-size: 3vw;
   width: 70vw;
   height: 8vw;
   text-align: center;
}


#container-radio{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2vw;
  
  /* border: 2px solid black; */
  width: 60vw;
  font-size: 3vw;
}

#container-radio>div{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5vw;
  padding: 1vw 2vw;
  font-size: 3vw;

}

button{

  margin-bottom: 5vw;
  color: white;
  background-color: rgb(128, 172, 62);
}











@media screen and (min-width:480px) and (min-width:0px) {

  #radio-input{
    width: 0.5vw;
    height: 0.5vw;
  }


}
  
  