.transaclist-container {


  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2vw;
  width: 60vw;
  margin: auto;
  margin-top: 5vw;
  padding: 2vw 0;
  border-radius: 20px;
  background-color: white;

}


.transaction-list {

  border: 1px solid blue;
  width: fit-content;
  list-style: none;
  padding: 1vw;
  font-size: 1.5vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.transaction-details {

  border: 1px solid black;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  /* row-gap: 1vw; */


  /* padding: 3vw; */

}

span {

  /* border: 1px solid red; */
  text-align: start;
  align-content: center;
}

.button-group {

  border: 1px solid black;
  border-top: none;
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
  justify-content: flex-start;
  align-items: center;

}


button {

  border: 2px solid rgb(128, 172, 62);

  width: 4vw;
  height: 5vh;
  font-size: 1vw;
  margin-top: 2vh;
  display: flex;
  /* Make button a flex container */
  align-items: center;
  /* Vertically center */
  justify-content: center;
  /* Horizontally center */
  cursor: pointer;
  background-color: rgb(128, 172, 62);
  color: white;
  /* optional: better contrast */
}



#update-link {


  text-decoration: none;

}










@media screen and (max-width:480px) and (min-width:0px) {

  .transaclist-container {

    width: 90vw;
    row-gap: 3vw;
    margin-top: 20vw;
    border-radius: 10px;
    padding-bottom: 6vw;
  }



  .transaction-list-heading {

    font-size: 5vw;

  }


  .transaction-list {

    width: fit-content;
    font-size: 4vw;
    padding: 3vw;
    border-radius: 10px;
    background-color: rgb(248, 243, 243);
    row-gap: 3vw;

  }

  #search-box {
    width: 60vw;
    height: 6vw;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 4vw;
  }

  .transaction-details {

    background-color: white;
    padding: 3vw;
  }

  span {

    width: 60vw;
  }

  .button-group {

    /* padding-top: 2vw; */
    background-color: white;
    column-gap: 3vw;
    height: fit-content;
    padding-left: 2vw;
  }

  button {

    width: 20vw;
    height: 8vw;
    font-size: 3vw;
    color: white;
    border: none;
    /* margin-top: 2vh; */

  }

  .delete-btn {


    color: white;
    background-color: red;
    font-size: 3.5vw;


  }


  .update-btn {


    background-color: rgb(3, 179, 3);
  }

  #update-link {


    font-size: 3vw;
    color: white;
    font-size: 3.5vw;

  }

  .no-transactions {

    font-size: 5vw;

  }



}





@media screen and (max-width:768px) and (min-width:481px) {

  .transaclist-container {

    width: 80vw;
    row-gap: 3vw;
    margin-top: 20vw;
    border-radius: 10px;
    padding-bottom: 6vw;
  }



  .transaction-list-heading {

    font-size: 5vw;

  }


  .transaction-list {

    width: fit-content;
    font-size: 4vw;
    padding: 3vw;
    border-radius: 10px;
    background-color: rgb(248, 243, 243);
    row-gap: 3vw;

  }

  #search-box {
    width: 60vw;
    height: 6vw;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 4vw;
  }

  .transaction-details {

    background-color: white;
    padding: 2vw;
  }

  span {

    width: 50vw;
    font-size: 3vw;
  }

  .button-group {


    background-color: white;
    column-gap: 3vw;
    height: fit-content;
    padding-left: 2vw;
    column-gap: 1vw;
  }

  button {

    width: 14vw;
    height: 5vw;
    font-size: 3vw;
    color: white;
    border: none;


  }

  .delete-btn {


    color: white;
    background-color: red;
    font-size: 2vw;


  }


  .update-btn {


    background-color: rgb(3, 179, 3);
  }

  #update-link {


    font-size: 3vw;
    color: white;
    font-size: 2vw;

  }


  .no-transactions {

    font-size: 3vw;

  }



}




@media screen and (max-width:1024px) and (min-width:769px) {

  .transaclist-container {

    width: fit-content;
    row-gap: 3vw;
    margin-top: 0vw;
    border-radius: 10px;
    padding: 6vw 2vw;
  }



  .transaction-list-heading {

    font-size: 3vw;

  }


  .transaction-list {

    width: fit-content;
    font-size: 4vw;
    padding: 2vw;
    border-radius: 10px;
    background-color: rgb(248, 243, 243);
    row-gap: 3vw;

  }

  #search-box {
    width: 35vw;
    height: 4vw;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 4vw;
  }

  .transaction-details {

    background-color: white;
    padding: 2vw;
    padding-bottom: 0;
  }

  span {

    width: 30vw;
    font-size: 2vw;
  }

  .button-group {


    background-color: white;
    column-gap: 3vw;
    height: fit-content;
    padding-bottom: 1vw;
    padding-left: 1vw;
    column-gap: 1vw;
  }

  button {

    width: 10vw;
    height: 3.5vw;
    font-size: 3vw;
    color: white;
    border: none;


  }

  .delete-btn {


    color: white;
    background-color: red;
    font-size: 1.6vw;


  }


  .update-btn {


    background-color: rgb(3, 179, 3);
  }

  #update-link {


    font-size: 3vw;
    color: white;
    font-size: 1.6vw;

  }

  .no-transactions {

    font-size: 2vw;

  }




}




@media screen and (max-width:1440px) and (min-width:1025px) {

  .transaclist-container {

    width: fit-content;
    row-gap: 3vw;
    margin-top: 0vw;
    border-radius: 10px;
    padding: 6vw 2vw;
    padding-top: 2vw;
  }



  .transaction-list-heading {

    font-size: 2vw;

  }


  .transaction-list {

    width: fit-content;
    font-size: 4vw;
    padding: 2vw;
    border-radius: 10px;
    background-color: rgb(248, 243, 243);
    row-gap: 3vw;

  }

  #search-box {
    width: 30vw;
    height: 3vw;
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 4vw;
  }

  .transaction-details {

    background-color: white;
    padding: 2vw;
    padding-bottom: 0;
  }

  span {

    width: 25vw;
    font-size: 1.5vw;
    height: 2vw;

  }

  .button-group {


    background-color: white;
    column-gap: 2vw;
    height: fit-content;
    padding-bottom: 1vw;

    padding-left: 1vw;
    column-gap: 1vw;


  }

  button {

    width: 8vw;
    height: 2.5vw;

    color: white;
    border: none;



  }

  .delete-btn {


    color: white;
    background-color: red;
    font-size: 1vw;




  }


  .update-btn {


    background-color: rgb(3, 179, 3);
  }

  #update-link {


    font-size: 3vw;
    color: white;
    font-size: 1vw;

  }

  .no-transactions {

    font-size: 1.5vw;

  }




}





@media screen and (max-width:2560px) and (min-width:1441px) {

  .transaclist-container {

    width: fit-content;
    row-gap: 3vw;
    margin-top: 0vw;
    border-radius: 10px;
    padding: 6vw 2vw;
    padding-top: 2vw;
  }



  .transaction-list-heading {

    font-size: 2vw;

  }


  .transaction-list {

    width: fit-content;
    font-size: 4vw;
    padding: 2vw;
    border-radius: 10px;
    background-color: rgb(248, 243, 243);
    row-gap: 3vw;

  }

  #search-box {
    width: 30vw;
    height: 3vw;
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 4vw;
    border: 2px solid black;
  }

  .transaction-details {

    background-color: white;
    padding: 2vw;
    padding-bottom: 0;
  }

  span {

    width: 25vw;
    font-size: 1.5vw;
    height: 2vw;

  }

  .button-group {


    background-color: white;
    column-gap: 2vw;
    height: fit-content;
    padding-bottom: 1vw;
    padding-left: 1vw;
    column-gap: 1vw;
  }

  button {

    width: 8vw;
    height: 2.5vw;

    color: white;
    border: none;


  }

  .delete-btn {


    color: white;
    background-color: red;
    font-size: 1vw;


  }


  .update-btn {


    background-color: rgb(3, 179, 3);
  }

  #update-link {


    font-size: 3vw;
    color: white;
    font-size: 1vw;

  }

  .no-transactions {

    font-size: 1.5vw;

  }


}


@media screen and (min-width:2561px) {

  .transaclist-container {

    width: fit-content;
    row-gap: 3vw;
    margin-top: 0vw;
    border-radius: 10px;
    padding: 6vw 2vw;
    padding-top: 2vw;
  }



  .transaction-list-heading {

    font-size: 2vw;

  }


  .transaction-list {

    width: fit-content;
    font-size: 4vw;
    padding: 2vw;
    border-radius: 10px;
    background-color: rgb(248, 243, 243);
    row-gap: 3vw;

  }

  #search-box {
    width: 30vw;
    height: 3vw;
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 4vw;
    border: 2px solid black;
  }

  .transaction-details {

    background-color: white;
    padding: 2vw;
    padding-bottom: 0;
  }

  span {

    width: 25vw;
    font-size: 1.5vw;
    height: 2vw;

  }

  .button-group {


    background-color: white;
    column-gap: 2vw;
    height: fit-content;
    padding-bottom: 1vw;
    padding-left: 1vw;
    column-gap: 1vw;
  }

  button {

    width: 8vw;
    height: 2.5vw;

    color: white;
    border: none;


  }

  .delete-btn {


    color: white;
    background-color: red;
    font-size: 1vw;


  }


  .update-btn {


    background-color: rgb(3, 179, 3);
  }

  #update-link {


    font-size: 3vw;
    color: white;
    font-size: 1vw;

  }

  .no-transactions {

    font-size: 1.5vw;

  }



}