.updatepassword-page {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.input-fields-container {


    display: flex;
    flex-direction: column;


}

.input-fields-container>input {

    width: 100%;
}

.email-input {


    text-align: center;
    font-size: 1.2vw;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

.buttons-container {



    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;

}

.cancel {

    background-color: black;

}

.next {

    background-color: blue;
}



@media screen and (max-width:480px) {


    .updatepassword-page {

        width: 90vw;
        height: 50vh;
        gap: 3vw;
    }

    .heading {

        font-size: 4vw;
    }

    .input-fields-container {
        width: 100%;
        row-gap: 3vw;
        padding: 0 10vw;
    }

    .email-input {

        height: 8vw;
        font-size: 3vw;
        width: 50vw;

    }

    .buttons-container {


        width: 100%;
        padding: 2vw 5vw;

    }

    .cancel,
    .next {

        font-size: 3vw;
        width: 20vw;
    }

    .loading,
    .paragraph {

        font-size: 3vw;
    }
}



@media screen and (max-width:768px) and (min-width:481px) {

    .updatepassword-page {

        padding-top: 2vw;

        width: 80vw;
        height: 60vh;
        gap: 3vw;
    }

    .heading {

        font-size: 3vw;
    }

    .input-fields-container {
        width: 100%;
        row-gap: 2vw;
        padding: 0 10vw;
    }

    .email-input {

        height: 6vw;
        font-size: 2vw;
        width: 50vw;

    }

    .buttons-container {


        width: 100%;
        padding: 2vw 5vw;

    }

    .cancel,
    .next {

        font-size: 2vw;
        width: 15vw;
    }

    .loading,
    .paragraph {

        font-size: 2vw;
    }
}


@media screen and (max-width:1024px) and (min-width:769px) {

      .updatepassword-page {

        padding-top: 2vw;

        width: 80vw;
        height: 60vh;
        gap: 3vw;
    }

    .heading {

        font-size: 3vw;
    }

    .input-fields-container {
        width: 100%;
        row-gap: 2vw;
        padding: 0 10vw;
    }

    .email-input {

        height: 6vw;
        font-size: 2vw;
        width: 50vw;

    }

    .buttons-container {


        width: 100%;
        padding: 2vw 5vw;

    }

    .cancel,
    .next {

        font-size: 2vw;
        width: 15vw;
    }

    .loading,
    .paragraph {

        font-size: 2vw;
    }
}


@media screen and (max-width:1440px) and (min-width:1025px) {


    .updatepassword-page {

        width: 50vw;
        height: 50vh;
    }

    .input-fields-container {
        width: 50%;
        row-gap: 1.5vw;
    }

    .email-input {

        height: 3vw;
        width: 50%;

    }

    .buttons-container {


        width: 100%;
        padding: 2vw 5vw;

    }
}


@media screen and (max-width:2560px) and (min-width:1441px) {

    .updatepassword-page {

        width: 50vw;
        height: 50vh;
    }

    .input-fields-container {
        width: 50%;
        row-gap: 1.5vw;
    }

    .email-input {

        height: 3vw;
        width: 50%;

    }

    .buttons-container {


        width: 100%;
        padding: 2vw 5vw;

    }
}


@media screen and (min-width:2561px) {


    .updatepassword-page {

        width: 50vw;
        height: 50vh;
    }

    .input-fields-container {
        width: 50%;
        row-gap: 1.5vw;
    }

    .email-input {

        height: 3vw;
        width: 50%;

    }

    .buttons-container {


        width: 100%;
        padding: 2vw 5vw;

    }
}